
<div class="icon-container"
     [style.min-width]="innerWidth"
     [style.max-width]="innerWidth"
     [style.min-height]="innerHeight"
     [style.max-height]="innerHeight"
     [style.transform]="scale">

  <picture class="appicon"
           [style.object-position]="coordinates"
           [style.min-width]="innerWidth"
           [style.max-width]="innerWidth"
           [style.min-height]="innerHeight"
           [style.max-height]="innerHeight">

    <source [srcset]="'assets/spritesheets/+' + type + '-icons.webp'" type="image/webp">
    <source [srcset]="'assets/spritesheets/+' + type + '-icons.png'" type="image/png">
      
    <img class="appicon"
      [src]="sheetUrl"
      [style.object-position]="coordinates"
      [style.min-width]="innerWidth"
      [style.max-width]="innerWidth"
      [style.min-height]="innerHeight"
      [style.max-height]="innerHeight"
    />
  </picture>
</div>