<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Party Creator
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="share()" *ngIf="showShare">
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="stars small"></div>
  <div class="stars medium"></div>
  <div class="stars large"></div>

  <div class="blank-slate" *ngIf="!isReady">
    <ion-spinner color="light"></ion-spinner> Loading...
  </div>

  <ng-container *ngIf="isReady">
    <ion-list>
      <ion-item-divider><strong>Chosen Party</strong></ion-item-divider>
    </ion-list>
  
    <ion-list>
      <ng-container *ngFor="let char of charRefs; let i = index">
        <ion-item detail (click)="openModal(i)">
          <span *ngIf="!char">You need to choose a party member for slot {{ i + 1 }}</span>
    
          <ng-container *ngIf="char">
            <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
          </ng-container>
        </ion-item>

        <ion-item *ngIf="charRefs[i]" class="nested-item" (click)="openItemModal(i, char.weapon)">
          <span *ngIf="!weaponRefs[i]">Optional: Choose a weapon for slot {{ i + 1 }}</span>
    
          <ng-container *ngIf="weaponRefs[i]">
            <ng-container *ngTemplateOutlet="item; context: { item: weaponRefs[i] }"></ng-container>
          </ng-container>
        </ion-item>

        <ion-item *ngIf="charRefs[i]" class="nested-item" (click)="openItemModal(i, 'accessory')">
          <span *ngIf="!accessoryRefs[i]">Optional: Choose an accessory for slot {{ i + 1 }}</span>
    
          <ng-container *ngIf="accessoryRefs[i]">
            <ng-container *ngTemplateOutlet="item; context: { item: accessoryRefs[i] }"></ng-container>
          </ng-container>
        </ion-item>
      </ng-container>
    </ion-list>
  
    <ion-list>
      <ion-item-divider>
        <strong>Optimal Buff Matrix</strong>
      </ion-item-divider>
    </ion-list>

    <ion-row>
      <ion-col text-center size-xs="12" size-sm="6">
        <ion-button color="secondary" fill="outline" icon-left size="small" (click)="toggleRole()">
          <ion-icon [name]="roleToggle ? 'checkbox-outline' : 'square-outline'"></ion-icon>&nbsp;Role Buffs
        </ion-button>
      </ion-col>

      <ion-col text-center size-xs="12" size-sm="6">
        <ion-button color="secondary" fill="outline" icon-left size="small" (click)="toggleCondition()">
          <ion-icon [name]="conditionToggle ? 'checkbox-outline' : 'square-outline'"></ion-icon>&nbsp;Conditional Buffs
        </ion-button>
      </ion-col>

      <ion-col text-center size-xs="12" size-sm="6">
        <ion-button color="secondary" fill="outline" icon-left size="small" (click)="toggleRush()">
          <ion-icon [name]="rushToggle ? 'checkbox-outline' : 'square-outline'"></ion-icon>&nbsp;Rush Buffs
        </ion-button>
      </ion-col>
      <ion-col text-center size-xs="12" size-sm="6">
        <ion-button color="secondary" fill="outline" icon-left size="small" (click)="toggleWeaponLB()">
          <ion-icon [name]="weaponLBToggle ? 'checkbox-outline' : 'square-outline'"></ion-icon>&nbsp;Weapon LB Factors
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-list *ngIf="!getParty()">
      <ion-item class="faded">
        You must select a party member to see buffs.
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item *ngFor="let optbuff of optimalBuffs | keyvalue">
        <ion-label text-wrap>
          <div><strong>Base Total:</strong> {{ optbuff.key }} +{{ optbuff.value }}%</div>
    
          <div class="additional-buff-row" *ngIf="characterOptimalBuffBoosts[optbuff.key]">
            <div class="text-align-center margin-right"><strong>Individual Totals:</strong></div>
            <span *ngFor="let specialcharbuff of characterOptimalBuffBoosts[optbuff.key]" class="text-align-center buff-character">
              <app-appicon [name]="characterSprites[specialcharbuff.character]" [forceWidth]="24" [forceHeight]="24" type="char" inline="true"></app-appicon> +{{ optbuff.value + specialcharbuff.boost }}%
            </span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item-divider><strong>All Party Buffs</strong></ion-item-divider>
    </ion-list>

    <ion-list *ngIf="!getParty()">
      <ion-item class="faded">
        You must select a party member to see buffs.
      </ion-item>
    </ion-list>
  
    <ion-list *ngFor="let buffpriority of buffs | keyvalue; let i = index">
  
      <ion-item-divider (click)="priorityVisibility[i] = !priorityVisibility[i]">
        <ion-icon [name]="priorityVisibility[i] ? 'arrow-dropdown' : 'arrow-dropright'" class="margin-right"></ion-icon>
        <strong>Priority {{ buffpriority.key }} - {{ buffPriorityDescs[buffpriority.key] }}</strong>
      </ion-item-divider>
  
      <ng-container [@openClose]="priorityVisibility[i] ? 'open' : 'closed'" *ngIf="priorityVisibility[i]">
        <ion-item-group *ngFor="let bufftype of buffpriority.value | keyvalue">
          <ion-item-divider>Buff: {{ bufftype.key }}</ion-item-divider>
    
          <ion-item *ngFor="let buffData of bufftype.value; let i = index"
                    [class.faded]="
                    buffData._metaAll
                    && 
                    (buffpriority.key !== '4' 
                      && buffpriority.key !== '3' 
                      && i > 0 
                      && buffData.buffValue !== bufftype.value[0].buffValue)
                    || (buffData.buffRole && !roleToggle)
                    || (buffData.buffCondition && !conditionToggle)"
                    [class.prominent]="!buffData._metaAll">

            <ion-row class="single-talent-row">
              <ion-col size-md="6" size-sm="12">
                <ion-label text-wrap>
                  <p>{{ buffData.buff }} +{{ buffData.buffValue }}%</p>
                  <p *ngIf="buffData.buffRole">
                    <small><strong>Role:</strong> {{ buffData.buffRole | titlecase }}</small>
                  </p>
                  <p *ngIf="buffData.buffCondition">
                    <small><strong>Condition:</strong> {{ buffData.buffCondition }}</small>
                  </p>
                </ion-label>
              </ion-col>

              <ion-col size-md="6" size-sm="12" class="text-align-center" text-right>
                <app-appicon [name]="characterSprites[buffData.sourceCharacter]" [forceWidth]="24" [forceHeight]="24" type="char" inline="true"></app-appicon> {{ buffData.source }}
              </ion-col>
                
            </ion-row>
    
          </ion-item>
        </ion-item-group>
      </ng-container>
      
    </ion-list>
  </ng-container>
  
</ion-content>

<ng-template #character let-char="char">

  <span slot="start" class="picture-class-chunk">
    <app-appicon [name]="char.picture" [forceWidth]="64" [forceHeight]="64" type="char"></app-appicon>
    <span class="awakened-container" *ngIf="char.awakened">
      <app-appicon [name]="'misc-awakening'" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
    </span>
    <app-appicon margin-horizontal [name]="'class-' + char.type" class="hidden-xs" [scaleX]="0.25" [scaleY]="0.25"></app-appicon>
  </span>

  <ion-label>
    <h2 class="vertical-center">
      <app-appicon [name]="'char-' + char.star" [scaleX]="0.5" [scaleY]="0.5" [inline]="true"></app-appicon> 
      <span>{{ char.name }}</span>
    </h2>
  </ion-label>
</ng-template>

<ng-template #item let-item="item">

  <span slot="start" class="picture-class-chunk">
    <app-appicon class="item-icon" [name]="item.picture" [forceWidth]="64" [forceHeight]="64" type="item"></app-appicon>
    <app-appicon margin-horizontal [name]="'menu-' + item.subtype" class="hidden-xs" [scaleX]="0.375" [scaleY]="0.375"></app-appicon>
  </span>

  <ion-label>
    <h2 class="vertical-center">
      <app-appicon [name]="'char-' + item.star" [scaleX]="0.5" [scaleY]="0.5" [inline]="true"></app-appicon> 
      <span>{{ item.name }}</span>
    </h2>
  </ion-label>
</ng-template>