<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Party Creator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="stars small"></div>
  <div class="stars medium"></div>
  <div class="stars large"></div>

  <!--
    4 selects, pick 4 characters, update url params each time

    buff table below, functionality:

    - search all character rushes, skills, and talents for meta
    - assign the character/source to each meta
    - look at the buff for each
    - conflicts are resolved by picking the highest number from each priority (1, 2, 3)
    - show crossed-out or faded ones if they were not chosen
    - show priority 4 and who it is assigned to
    - show total buffs per character
  -->

</ion-content>
