
.character-box {
  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text-align-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.single-talent-row {
  width: 100%;
}

.additional-buff-row {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;

  .buff-character {
    width: 100px;
    justify-content: center;
  }
}

.nested-item {
  margin-left: 96px;

  @media only screen and (max-width: 576px) {
    margin-left: 36px;
  }
}

p {
  color: #fff;
}

.inline-icon {
  margin-right: 4px;
}