<ion-app>
  <ion-split-pane>
    <ion-menu>

      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <div class="stars small"></div>
        <div class="stars medium"></div>
        <div class="stars large"></div>

        <ion-list>
          <ion-item *ngIf="canUpdate" (click)="doAppUpdate()">
            <ion-icon slot="start" name="logo-ionic"></ion-icon> Update available! Click to update.
          </ion-item>

          <ion-item *ngIf="a2hsPrompt" (click)="a2hs()">
            <ion-icon slot="start" name="add"></ion-icon> Add to Homescreen
          </ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">

            <ion-item [routerDirection]="'root'" 
                      [routerLink]="[p.url]" 
                      [queryParams]="p.queryParams"
                      [color]="p.color"
                      [class.hidden]="p.visibleIf && p.visibleIf !== activePage">

              <ion-icon slot="start" *ngIf="!p.assetIcon" [name]="p.icon"></ion-icon>

              <span slot="start" *ngIf="p.assetIcon" class="menu-chunk">
                <app-appicon [name]="p.assetIcon" [scaleX]="p.assetScale" [scaleY]="p.assetScale"></app-appicon>
              </span>

              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>

          <ion-item>
            <ion-label>Global</ion-label>
            <ion-toggle color="danger" [checked]="isJP" [(ngModel)]="_jpToggle" (ionChange)="setRegion()"></ion-toggle>
            <ion-label text-right>Japan</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<img async class="preloader" src="assets/spritesheets/+app-icons.png" />
<img async class="preloader" src="assets/spritesheets/+item-icons.png" />
<img async class="preloader" src="assets/spritesheets/+char-icons.png" />
<img async class="preloader" src="assets/spritesheets/+rush-icons.png" />
<img async class="preloader" src="assets/spritesheets/+skill-icons.png" />
