<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Items
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="gridView = !gridView">
        <ion-icon [name]="gridView ? 'list' : 'grid'"></ion-icon>
      </ion-button> 
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button> 
      <ion-button (click)="openSort($event)">
        <ion-icon name="funnel"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content [class.grid]="gridView">

  <div class="stars small"></div>
  <div class="stars medium"></div>
  <div class="stars large"></div>

  <div class="blank-slate" *ngIf="isError">
    No items match this filter.
  </div>

  <div class="blank-slate" *ngIf="allItems.length === 0">
    <ion-spinner color="light"></ion-spinner> &nbsp;&nbsp;&nbsp; Loading...
  </div>

  <ion-searchbar *ngIf="showSearch" 
                  showCancelButton
                  (ionCancel)="closeSearch()" 
                  (ionInput)="updateSearchValue($event)"
  ></ion-searchbar>
    
  <ion-list *ngIf="!isError && itemSorting === 'alpha'" class="center-container">
    <ion-item *ngFor="let item of alphaSortedItems | filterBy: { name: searchValue }" detail (click)="loadItem(item)" [class.short]="gridView">
      <ng-container *ngIf="!gridView">
        <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
      </ng-container>

      <ng-container *ngIf="gridView">
        <ng-container *ngTemplateOutlet="itemGrid; context: { item: item }"></ng-container>
      </ng-container>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'type'">
    <ion-item-group *ngFor="let itemType of allItemTypes" class="center-container">
      <ion-item-divider><strong>{{ convertWeaponType(itemType) }}</strong></ion-item-divider>

      <ion-item *ngFor="let item of typeSortedItems[itemType] | filterBy: { name: searchValue }" detail (click)="loadItem(item)" [class.short]="gridView">
        <ng-container *ngIf="!gridView">
          <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
        </ng-container>
  
        <ng-container *ngIf="gridView">
          <ng-container *ngTemplateOutlet="itemGrid; context: { item: item }"></ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'element'">
    <ion-item-group *ngFor="let element of allElements" class="center-container">
      <ion-item-divider>
        <strong><app-element [element]="element"></app-element></strong>
      </ion-item-divider>

      <ion-item *ngFor="let item of elementSortedItems[element] | filterBy: { name: searchValue }" detail (click)="loadItem(item)" [class.short]="gridView">
        <ng-container *ngIf="!gridView">
          <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
        </ng-container>
  
        <ng-container *ngIf="gridView">
          <ng-container *ngTemplateOutlet="itemGrid; context: { item: item }"></ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'slayer'">
    <ion-item-group *ngFor="let slayer of allSlayers" class="center-container">
      <ion-item-divider class="vertical-center">
        <strong><app-slayer [slayer]="slayer"></app-slayer></strong>
      </ion-item-divider>

      <ion-item *ngFor="let item of slayerSortedItems[slayer] | filterBy: { name: searchValue }" detail (click)="loadItem(item)" [class.short]="gridView">
        <ng-container *ngIf="!gridView">
          <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
        </ng-container>
  
        <ng-container *ngIf="gridView">
          <ng-container *ngTemplateOutlet="itemGrid; context: { item: item }"></ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'factor'">
    <ion-item-group *ngFor="let factor of allFactors" class="center-container">
      <ion-item-divider class="vertical-center">
        <strong>{{ factor }}</strong>
      </ion-item-divider>

      <ion-item *ngFor="let item of factorSortedItems[factor] | filterBy: { name: searchValue }" detail (click)="loadItem(item)" [class.short]="gridView">
        <ng-container *ngIf="!gridView">
          <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
        </ng-container>
  
        <ng-container *ngIf="gridView">
          <ng-container *ngTemplateOutlet="itemGrid; context: { item: item }"></ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

<ng-template #itemGrid let-item="item">
  <span slot="start" class="picture-class-chunk">

    <app-lazy-img class="grid-icon item-icon" 
      [src]="'assets/items/' + (item.subtype === 'all' ? 'accessory' : item.subtype) + '/' + item.picture + '.png'" 
      [alt]="item.name"></app-lazy-img>
    <app-appicon class="icon-star" [name]="'char-' + item.star" [scaleX]="0.5" [scaleY]="0.5"></app-appicon> 

    <ng-container *ngFor="let factor of item.factors">
      <app-appicon *ngIf="factor.element" class="icon-element" [name]="'el-' + factor.element.toLowerCase()" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
    </ng-container>
    <ng-container *ngFor="let factor of item.factors">
      <app-appicon *ngIf="factor.slayer" class="icon-slayer" [name]="'type-' + factor.slayer.toLowerCase()" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
    </ng-container>

  </span>
</ng-template>

<ng-template #items let-item="item">
  <span slot="start" class="picture-class-chunk" [class.margin-right]="isFiltered">
    <app-lazy-img class="list-icon item-icon" 
                  [src]="'assets/items/' + (item.subtype === 'all' ? 'accessory' : item.subtype) + '/' + item.picture + '.png'" 
                  [alt]="item.name"></app-lazy-img>
    <app-appicon *ngIf="!isFiltered" class="hidden-xs" margin-horizontal [name]="'menu-' + item.subtype" [scaleX]="0.375" [scaleY]="0.375"></app-appicon>
  </span>

  <ion-label>
    <h2 class="vertical-center">
      <app-appicon [name]="'char-' + item.star" [scaleX]="0.5" [scaleY]="0.5" [inline]="true"></app-appicon> 
      <span>{{ item.name }}</span>
    </h2>
    <p *ngIf="item.type === 'weapon'" class="vertical-center">
      {{ weaponDesc(item) }}
      <ng-container *ngFor="let factor of item.factors">
        <app-element *ngIf="factor.element" [element]="factor.element"></app-element>
      </ng-container>
      <ng-container *ngFor="let factor of item.factors">
        <app-slayer *ngIf="factor.slayer" [slayer]="factor.slayer"></app-slayer>
      </ng-container>
    </p>
    <p *ngIf="item.type === 'accessory'">{{ item.def }} DEF</p>
  </ion-label>
</ng-template>