<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Items
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button> 
      <ion-button (click)="openSort($event)">
        <ion-icon name="funnel"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <div class="stars small"></div>
  <div class="stars medium"></div>
  <div class="stars large"></div>

  <div class="blank-slate" *ngIf="isError">
    No items match this filter.
  </div>

  <div class="blank-slate" *ngIf="allItems.length === 0">
    <ion-spinner></ion-spinner> &nbsp;&nbsp;&nbsp; Loading...
  </div>

  <ion-searchbar *ngIf="showSearch" 
                  showCancelButton
                  (ionCancel)="closeSearch()" 
                  (ionInput)="updateSearchValue($event)"
  ></ion-searchbar>
    
  <ion-list *ngIf="!isError && itemSorting === 'alpha'">
    <ion-item *ngFor="let item of alphaSortedItems | filterBy: { name: searchValue }" detail (click)="loadItem(item)">
      <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'type'">
    <ion-item-group *ngFor="let itemType of allItemTypes">
      <ion-item-divider><strong>{{ convertWeaponType(itemType) }}</strong></ion-item-divider>

      <ion-item *ngFor="let item of typeSortedItems[itemType] | filterBy: { name: searchValue }" detail (click)="loadItem(item)">
        <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'element'">
    <ion-item-group *ngFor="let element of allElements">
      <ion-item-divider>
        <strong><app-element [element]="element"></app-element></strong>
      </ion-item-divider>

      <ion-item *ngFor="let item of elementSortedItems[element] | filterBy: { name: searchValue }" detail (click)="loadItem(item)">
        <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isError && itemSorting === 'slayer'">
    <ion-item-group *ngFor="let slayer of allSlayers">
      <ion-item-divider class="vertical-center">
        <strong><app-slayer [slayer]="slayer"></app-slayer></strong>
      </ion-item-divider>

      <ion-item *ngFor="let item of slayerSortedItems[slayer] | filterBy: { name: searchValue }" detail (click)="loadItem(item)">
        <ng-container *ngTemplateOutlet="items; context: { item: item }"></ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

<ng-template #items let-item="item">
  <span slot="start" class="picture-class-chunk" [class.margin-right]="isFiltered">
    <ion-img slot="start" [src]="'assets/items/' + item.picture + '.png'" class="mini-picture-icon"></ion-img>
    <app-appicon *ngIf="!isFiltered" margin-horizontal [name]="'menu-' + item.subtype" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
  </span>

  <ion-label>
    <h2 class="vertical-center">
      <app-appicon [name]="'weapon-' + item.star" [scaleX]="0.5" [scaleY]="0.5" [inline]="true"></app-appicon> 
      <span>{{ item.name }}</span>
    </h2>
    <p *ngIf="item.type === 'weapon'" class="vertical-center">
      {{ weaponDesc(item) }}
      <app-element *ngIf="item.element" [element]="item.element"></app-element>
      <app-slayer *ngIf="item.slayer" [slayer]="item.slayer"></app-slayer>
    </p>
    <p *ngIf="item.type === 'accessory'">{{ item.def }} DEF</p>
  </ion-label>
</ng-template>