<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Characters
    </ion-title>

    <ion-buttons slot="end" *ngIf="!isError">
      <ion-button (click)="gridView = !gridView">
        <ion-icon [name]="gridView ? 'list' : 'grid'"></ion-icon>
      </ion-button> 
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button> 
      <ion-button (click)="openSort($event)">
        <ion-icon name="funnel"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.grid]="gridView">

  <div class="stars small"></div>
  <div class="stars medium"></div>
  <div class="stars large"></div>

  <div class="blank-slate" *ngIf="isError">
    No characters match this filter.
  </div>

  <div class="blank-slate" *ngIf="allCharacters.length === 0">
    <ion-spinner color="light"></ion-spinner> &nbsp;&nbsp;&nbsp; Loading...
  </div>

  <ion-searchbar *ngIf="showSearch" 
                 showCancelButton
                 (ionCancel)="closeSearch()" 
                 (ionInput)="updateSearchValue($event)"
  ></ion-searchbar>

  <ion-list *ngIf="!isError && sorting === 'alpha'" class="center-container">

    <ion-item *ngFor="let char of alphaSortedCharacters | filterBy: { name: searchValue }" detail (click)="loadCharacter(char)" [class.short]="gridView">
      <ng-container *ngIf="!gridView">
        <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
      </ng-container>

      <ng-container *ngIf="gridView">
        <ng-container *ngTemplateOutlet="charGrid; context: { char: char }"></ng-container>
      </ng-container>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isError && sorting === 'weapon'">
    <ion-item-group *ngFor="let weapon of allWeapons" class="center-container">
      <ion-item-divider><strong><app-weapon [weapon]="weapon"></app-weapon></strong></ion-item-divider>

      <ion-item *ngFor="let char of weaponSortedCharacters[weapon] | filterBy: { name: searchValue }" detail (click)="loadCharacter(char)" [class.short]="gridView">
        <ng-container *ngIf="!gridView">
          <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
        </ng-container>
  
        <ng-container *ngIf="gridView">
          <ng-container *ngTemplateOutlet="charGrid; context: { char: char }"></ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isError && sorting === 'tier'">
    <ion-item-group *ngFor="let tier of allTiers" class="center-container">
      <ion-item-divider><strong>{{ tier }}</strong></ion-item-divider>

      <ion-item *ngFor="let char of tierSortedCharacters[tier] | filterBy: { name: searchValue }" detail (click)="loadCharacter(char)" [class.short]="gridView">
        <ng-container *ngIf="!gridView">
          <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
        </ng-container>
  
        <ng-container *ngIf="gridView">
          <ng-container *ngTemplateOutlet="charGrid; context: { char: char }"></ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

<ng-template #charGrid let-char="char">
  <span slot="start" class="picture-class-chunk">
    <app-lazy-img class="grid-icon" [src]="'assets/characters/' + char.picture + '.png'" [alt]="char.name"></app-lazy-img>

    <span class="awakened-container" *ngIf="char.awakened">
      <app-appicon [name]="char.awakened === true ? 'misc-awakening' : 'misc-awakening-9'" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
    </span>

    <app-appicon class="icon-type" [name]="'class-' + char.type" [scaleX]="0.25" [scaleY]="0.25"></app-appicon>
    <app-appicon class="icon-star" [name]="'char-' + char.star" [scaleX]="0.5" [scaleY]="0.5"></app-appicon> 
    <app-appicon class="icon-weapon" [name]="'menu-' + char.weapon" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
  </span>
</ng-template>

<ng-template #character let-char="char">

  <span slot="start" class="picture-class-chunk" [class.margin-right]="isFiltered">
    <app-lazy-img class="list-icon" [src]="'assets/characters/' + char.picture + '.png'" [alt]="char.name"></app-lazy-img>
    <span class="awakened-container" *ngIf="char.awakened">
      <app-appicon [name]="char.awakened === true ? 'misc-awakening' : 'misc-awakening-9'" [scaleX]="0.5" [scaleY]="0.5"></app-appicon>
    </span>
    <app-appicon *ngIf="!isFiltered" margin-horizontal class="hidden-xs" [name]="'class-' + char.type" [scaleX]="0.25" [scaleY]="0.25"></app-appicon>
  </span>

  <ion-label>
    <h2 class="vertical-center">
      <app-appicon [name]="'char-' + char.star" [scaleX]="0.5" [scaleY]="0.5" [inline]="true"></app-appicon> 
      <span>{{ char.name }}</span>
    </h2>
    <p class="vertical-center"><app-weapon [weapon]="char.weapon"></app-weapon></p>
  </ion-label>
</ng-template>