<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Characters
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openSort($event)">
        <ion-icon name="funnel"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="blank-slate" *ngIf="isError">
    No characters match this filter.
  </div>

  <div class="blank-slate" *ngIf="allCharacters.length === 0">
    <ion-spinner></ion-spinner> &nbsp;&nbsp;&nbsp; Loading...
  </div>

  <ion-list *ngIf="sorting === 'alpha'">
    <ion-item *ngFor="let char of alphaSortedCharacters" detail (click)="loadCharacter(char)">
      <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="sorting === 'weapon'">
    <ion-item-group *ngFor="let weapon of allWeapons">
      <ion-item-divider><strong>{{ convertWeaponType(weapon) }}</strong></ion-item-divider>

      <ion-item *ngFor="let char of weaponSortedCharacters[weapon]" detail (click)="loadCharacter(char)">
        <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="sorting === 'tier'">
    <ion-item-group *ngFor="let tier of allTiers">
      <ion-item-divider><strong>{{ tier }}</strong></ion-item-divider>

      <ion-item *ngFor="let char of tierSortedCharacters[tier]" detail (click)="loadCharacter(char)">
        <ng-container *ngTemplateOutlet="character; context: { char: char }"></ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

<ng-template #character let-char="char">
  <ion-img slot="start" [src]="'assets/classes/' + char.type + '.png'" class="asset-icon"></ion-img> 
  <ion-img slot="start" [src]="char.picture" class="mini-picture-icon"></ion-img>

  <ion-label>
    <h3>{{ char.star }}★ {{ char.name }}</h3>
    <p>{{ convertWeaponType(char.weapon) }}</p>
  </ion-label>
</ng-template>