// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'theme/stars.scss';

.asset-icon {
  width: 24px !important;
  height: 24px !important;
}

.mini-picture-icon {
  width: 48px;
  height: 48px;
}

.inline-picture-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.blank-slate {
  display: flex;
  font-size: 250%;
  color: #888;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100% - 52px);
  text-align: center;
  padding: 20px;
}

ion-item, ion-item-divider {
  cursor: pointer;
}

.ios {
  ion-card-title {
    font-size: 16px !important;
  }
}

.shrink-top-margin p {
  margin-block-start: 0.25em !important;
}