<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Welcome to Star Ocean: Anamnesiac</h1>
  <br>
  <p>
    This is a compendium of searchable information in a handy app form. It should be updated fairly frequently.
  </p>

  <p>
    It will also have opinions and notes about characters and items.
  </p>
</ion-content>
